<h1 style="text-align: center;"><i class="fa-solid fa-database"></i></i>Employee Dashboard</h1>
<div class="section">
  <h3 class="lead"><strong>Welcome</strong> to Employee Records</h3>
</div>
<div class="divider"></div>
<div class="section">
  <div class="float-item" style="display: flex; justify-items:center; justify-content:space-between">
    <div class="view-swagger">
      <h4>
        <a href="/api-docs" class="btn green darken-1 centered">
        <i class="fab fa-google left"></i>View Employee Data Using Swagger
        </a>
      </h4>
    </div>
    <div class="enter-data">
      <h4>
        <a href="/register" class="btn green darken-1 centered">
        <i class="fab fa-google left"></i>Enter Employee Data
        </a>
      </h4>
    </div>
  </div>
</div>