<h3><i class="fa-solid fa-database"></i></i>Employee Database</h3>
<div class="section">
  <p class="lead">Get All Your Data In One Place Here</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1 centered">
    <i class="fab fa-google left"></i>Log In With Google
  </a>
</div>


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  