<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5" style="text-align: center; padding: 2rem;">Enter Your Data</h2>

              <form action="/employee" method="POST" style="margin: 0 1rem;;">

                <fieldset>
                    <legend><h4>Employee Data</h4></legend>
                    <div class="form-outline mb-4">
                    <input name="firstName" id="firstName" type="text" class="form-control form-control-lg" />
                    <label class="form-label" for="fname">First Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="lastName" id="lastName" type="text" class="form-control form-control-lg" />
                    <label class="form-label" for="lname">Last Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="email" type="email" id="email" class="form-control form-control-lg" />
                    <label class="form-label" for="email">Your Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="jobTitle" type="text" id="jobTitle" class="form-control form-control-lg" />
                    <label class="form-label" for="job-title">Job Title</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="department" type="text" id="department" class="form-control form-control-lg" />
                    <label class="form-label" for="department">Department</label>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="float-right">
                      <input name="startDate" type="text" id="startDate" class="form-control form-control-lg" />
                      <label class="form-label" for="start-date">Start Date</label>
                    </div>
                    <div class="float-right">
                      <input name="endDate" type="text" id="endDate" class="form-control form-control-lg" />
                      <label class="form-label" for="end-date">End Date</label>
                    </div>
                  </div>

                  {{!-- <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                  </div> --}}

                  {{!-- <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div> --}}

                  {{!-- <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                      class="fw-bold text-body"><u>Login here</u></a></p> --}}

                </fieldset>

                <fieldset>
                  <legend><h4>Field Out Address Form</h4></legend>
                   <div class="form-outline mb-4">
                    <input name="country" id="country" type="text" class="form-control form-control-lg" />
                    <label class="form-label" for="country">Country</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="city" id="city" type="text" class="form-control form-control-lg" />
                    <label class="form-label" for="country">City</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="Street" id="Street" type="text" class="form-control form-control-lg" />
                    <label class="form-label" for="Street">Street</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="postcode" type="text" id="postcode" class="form-control form-control-lg" />
                    <label class="form-label" for="postcode">Post Code</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="phone" type="text" id="phone" class="form-control form-control-lg" />
                    <label class="form-label" for="phone">Phone Contact</label>
                  </div>

                  {{!-- <div class="form-outline mb-4">
                    <div class="float-right">
                      <input name="start-date" type="text" id="start-date" class="form-control form-control-lg" />
                      <label class="form-label" for="start-date">Start Date</label>
                    </div>
                    <div class="float-right">
                      <input name="start-date" type="text" id="start-date" class="form-control form-control-lg" />
                      <label class="form-label" for="start-date">End Date</label>
                    </div> --}}
                    <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>