p {
    text-align: center;
    margin: 10px 0 !important;
}
h3 {
    text-align: center;
    padding: 1rem;
}

.login-container {
    width: 500px;
    margin-top: 50px;
    text-align: center;
}

.section {
    align-items: center;
}

.green {
    background-color: green;
}