.login {
    margin: 30px;
}
.form-check,
.form-outline {
    margin: 0 30px;
}

button {
    margin: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.main-container {
margin: 3rem auto;
}

section {
    padding: 1rem;
}
.siginin {
    background-color: #dd4b39;
    margin-bottom: 2rem;
}
.content-cont {
    margin-bottom: 2rem;
}
